
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CaseLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    @*<style>
        body {
            background-image: url('dashboard.jpg'); 
            background-size: cover; 
            background-repeat: no-repeat; 
            background-attachment: fixed; 
        }
    </style>*@
</head>

<body>
    <main>
        <section class="row" aria-labelledby="aspnetTitle" style="color: black; font-family: sans-serif; margin-top: 100px; text-align: center;">
            <h1 id="title"><blink>Welcome to Hospital Management System</blink></h1>
            <p class="lead">The Hospital Management System is a computer software system, which is used to managing the functioning and events of any hospital or multi-speciality hospital.</p>

        </section>


    </main>
</body>
</html>